.THIS h1 {
    font-size: 40px;
    text-align: center;
}
.THIS h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.THIS .column{
    width: 50%;
    display: inline-block;
}
.THIS .imageContainer{
        justify-content: center;
}

.THIS .imageContainer img{
padding: 50px;
}

.THIS .addToCartButton{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    padding: 10px 35px;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.THIS .addToCartButton:hover{
    background-color: white;
    border: 1px solid black;
}

.THIS .cartButtonCont{
    text-align: left;
}

.THIS .productDescription{
    padding-top: 20px;
}

.THIS .quantCart{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}
.THIS .quantCart div{
	margin-right: 20px;
}

.THIS .priceCont{
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.THIS .quantCont{
    float: left;
}

.THIS .quantCont input{
  width: 65px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.THIS .gallery:hover {
  border: 1px solid #777;
}

.THIS .gallery img {
  width: 200px;
  height: auto;
}

.THIS .gallery a {
	display: inline-block;
}

.THIS .gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: max-content;
}

.THIS .reviewSection h3{
    font-size: 30px;
    padding-bottom: 10px;
}

.THIS [type="number"]::-webkit-inner-spin-button,
.THIS [type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  height: auto;
}

.THIS .slds-form-element__help{
    position: absolute;
    top: -20px;
}

.THIS .buttCont{
    width: 120%;
}

.THIS .stepper lightning:input {
  width: 3em;
  height: 100%;
  text-align: center;
  border: 0;
  background: transparent;
  color: #000;
}

.THIS .stepper button {
  width: 1.4em;
  font-weight: 300;
  height: 100%;
  line-height: 0.1em;
  font-size: 1.4em;
  padding: 0.2em !important;
  background: #eee;
  color: #333;
  height: 42px;  
  border: 1px solid gray;
}